h1 Log in

form(method="post", action="/session")
    p
        label(for="username") Username: <br />
        input#username(name="username")

    p
        label(for="password") Password: <br />
        input#password(type="password", name="password")
    
    p
        input(type="submit", value="Log in")
