h1 Users
p
    a(href="/users/new") Create new profile
ul
    for user, username in users
        li 
            a(href="/users/"+ user.username) #{user.full_name}
    
if page > 0
    a(href="/users?page=" + (page-1)) Previous

br
if !lastPage
    a(href="/users?page=" + (page+1)) Next