h1 Log in

form(method="post", action="/session")
    p
        label(for="email") Username: <br />
        input#username(name="email")

    p
        label(for="password") Password: <br />
        input#password(type="password", name="password")
    
    p
        input(type="submit", value="Log in")
